{% extends "base.html" %}
{% block title %} Message details {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/detail_message.css' %}" />
{% endblock %}
{% block content %}
    {% for info in messages %}
        <div class="alert {% if info.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ info }}
        </div>
    {% endfor %}
    <h3>Message details</h3>
    <p>Date: {{ message.date }}</p>
    <p>Sender: {{ message.sender }}</p>
    <p>Header: {{ message.header }}</p>
    <p>Text: {{ message.text }}</p>

    {% if message.image %}
        <a class="image_url" href="{% url 'open_image_message' message.id %}" target="_blank">
            <img class="image" src="{{ message.image.url }}" alt="connect"> </a>
    {% endif %}

    <form action={% url "delete_message" message.id %} method="POST">
        {% csrf_token %}
        <input class="delete" type="submit" value="Delete"/>
    </form>
    <hr>
    <a class="my_messages" href="{% url 'my_messages' %}"> My messages </a><br><br><br>
{% endblock %}
