{% extends "base.html" %}
{% block title %} Edit profile {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/edit.css' %}" />
{% endblock %}
{% block content %}
    <h3>Edit profile</h3>
    <p>Use the form below to make changes to this user profile.</p>
    <form action={% url 'edit' %} enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="edit_save" type="submit" value="Save"/>
    </form><br>
    <hr>
    <a class="profile" href="{% url 'profile' %}"> Profile user </a><br><br><br>
{% endblock %}
