{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Log in {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <h3>Log in</h3>
    <form action={% url "login" %} method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="log_buttons" type="submit" value="Log in"/>
        <input class="log_buttons" type="reset" value="Clear"/>
    </form>
    <p>or</p>
    <a class="auth_google" href="{% url 'social:begin' 'google-oauth2' %}">
        Log in with Google
    </a><br>
    <a class="auth_facebook" href="{% url 'social:begin' 'facebook' %}">
        Log in with Facebook
    </a><br>
    <a class="auth_linkidin" href="{% url 'social:begin' 'linkedin-oauth2' %}">
        Log in with LinkidIn
    </a>

{% endblock %}
