{% extends "base.html" %}
{% block title %} My messages {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/messages.css' %}" />
{% endblock %}
{% block content %}
    {% for info in messages %}
    <div class="alert {% if info.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ info }}
    </div>
    {% endfor %}
    <form action={% url 'my_messages' %} method="GET">
        <h3>My messages</h3>
        <div class="search">
            <input class="search_inp" name="s" placeholder="Search" type="text">
            <button class="search_but" type="submit"></button>
        </div>
        {% if keyword_search != '' %}
            <p>
                Result of matches by: '{{ keyword_search|truncatechars:40 }}'
            </p>
        {% else %}
            <br>
        {% endif %}
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Sender</th>
                <th>Heading</th>
            </tr>
        </thead>
        <tbody>
            {% for mess in form_mess %}
                <tr>
                    <td> <a href="{% url 'message_details' mess.id %}">{{ mess.date }}</a> </td>
                    <td> <a href="{% url 'message_details' mess.id %}">{{ mess.sender }}</a> </td>
                    <td> <a href="{% url 'message_details' mess.id %}">{{ mess.heading|truncatechars:40 }}</a> </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </form>
    <hr>
    <a class="send_message" href="{% url 'send_message' %}"> Send message </a><br><br>
{% endblock %}
