{% extends "base.html" %}
{% block title %} My profile {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <form action={% url 'profile' %} method="GET">
        <h3>{{ user.username }}</h3>
        <div class="avatar">
            {% if profile.image %}
                <img class="image" src="{{ profile.image.url }}" alt="user_image">
            {% elif backends.associated %}
                {% for ass in backends.associated %}
                  {% if ass.provider == 'google-oauth2' %}
                    <div class="social_image">
                        <img src="{{ass.extra_data.picture}}" alt="user_image">
                    </div>
                  {% elif ass.provider == 'facebook' %}
                    <div class="social_image">
                        <img src="{{ass.extra_data.picture.data.url}}" alt="user_image">
                    </div>
                  {% else %}
                      <img class="image_default" src="{% static 'image/anonymous.jpg' %}" width="150" height="150">
                  {% endif %}
                {% endfor %}
            {% else %}
                <img class="image_default" src="{% static 'image/anonymous.jpg' %}" width="150" height="150">
            {% endif %}
        </div>
        {% if user.first_name %}
            <p id="first_name">Fisrt name: {{ user.first_name }}</p>
        {% endif %}
        {% if user.last_name %}
            <p id="last_name">Last name: {{ user.last_name }}</p>
        {% endif %}
        {% if user.email %}
            <p id="email">Email: {{ user.email }}</p>
        {% endif %}
        {% if profile.birthday %}
            <p id="birthday">Birthday: {{ profile.birthday }}</p>
            <p id="age">Age: {{ profile.age }}</p>
        {% endif %}
        {% if profile.location %}
            <p id="location">Location: {{ profile.location }}</p>
        {% endif %}
        {% if profile.website %}
            <p id="website">Website: <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        {% if profile.bio %}
            <p id="bio">Bio: {{ profile.bio }}</p>
        {% endif %}
        {% for ass in backends.associated %}
            {% if ass.provider == 'google-oauth2' %}
                <p> Signed in via:  Google </p>
            {% endif %}
            {% if ass.provider == 'facebook' %}
                <p> Signed in via: <a href="{{ass.extra_data.link}}">Facebook</a></p>
            {% endif %}
            {% if ass.provider == 'linkedin-oauth2' %}
                <p> Signed in via:  Linkedin </p>
            {% endif %}
        {% endfor %}
        <p>Registered since: {{ user.date_joined }} </p>
    </form>
    <label>Account type: <a class="acc_type" href="{% url 'account' %}">{{ profile.account_type }}</a></label>
    {% if profile.account_type == "Standard" %}
        <label>(change to <a class="change_to_premium" href="{% url 'account' %}">Premium</a>)</label>
    {% elif profile.account_type == "Premium" %}
        <br><a class="api" href="{% url 'api' %}"> API </a>
    {% endif %}
    <br>
    <hr>
    <a class="edit_profile" href="{% url 'edit' %}"> Edit profile </a><br>
{% endblock %}
