{% extends "base.html" %}
{% block title %} Registration user {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/accounts/register.css' %}" />
{% endblock %}
{% block content %}
    <h3>Registration user</h3>
    <form action={% url "register" %} method="POST">
        {% csrf_token %}
        <div class="li_size">
            {{ form.as_p }}
        </div>
        <input class="reg_buttons" type="submit" value="Register"/>
        <input class="reg_buttons" type="reset" value="Clear"/>
    </form>
{% endblock %}