<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $(".close").click(function(){
                $(".alert").hide('drop', { direction: "up" }, 500);
            });
        });
        setTimeout(function() {
           $(".alert").hide('blind', 1000);
        }, 4000);
        $(".close").click(function(){
                $(".alert").hide('drop', { direction: "up" }, 500);
            });
    </script>
    {% block static %}{% endblock %}
    <style>
        @font-face {
            font-family: 'Mont';
            src: url('{% static 'fonts/Montserrat-Italic.eot' %}');
            src: local('Mont'), local('Mont'),
                url('{% static 'fonts/Montserrat-Italic.eot?#iefix' %}') format('embedded-opentype'),
                url('{% static 'fonts/Montserrat-Italic.woff2' %}') format('woff2'),
                url('{% static 'fonts/Montserrat-Italic.woff' %}') format('woff'),
                url('{% static 'fonts/Montserrat-Italic.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: italic;
        }
        body {
            background: url( "{% static 'image/background1.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="hat_nav">
        <div class="hat_div">
        {% if user.username %}
        <ol class="top">
            <li class="hat_label">
                <label>
                    <a href="{% url 'main' %}">
                        <img src="{% static 'image/diary.png' %}" width="32" height="32" alt="label">
                    </a>
                </label>
            </li>
            <li class="hat_label_text">
                <label>
                    <a href="{% url 'main' %}" style="color: white;">
                        diary.by
                    </a>
                </label>
            </li>
            <li class="hat_li">
                <a style="color: #e0e0e0;" href="{% url 'main' %}">
                    <label class="icon_home"></label>
                    Home
                </a>
            </li>
            <li class="hat_li">
                <a style="color: #e0e0e0;" href="{% url 'all_records' %}">
                    <label class="icon_my_entries"></label>
                    My entries
                </a>
            </li>
            <li class="hat_li">
                <a style="color: #e0e0e0;" href="{% url 'add_record' %}">
                    <label class="icon_add_entry"></label>
                    Add entry
                </a>
            </li>
            <li class="hat_li">
                <a style="color: #e0e0e0;" href="{% url 'profile' %}">
                    <label class="icon_profile"></label>
                    Profile
                </a>
            </li>
            <li class="hat_li">
                <a style="color: #e0e0e0;" href="{% url 'my_messages' %}">
                    <label class="icon_messages"></label>
                    Messages
                </a>
            </li>
        </ol>
        <ol class="login">
            <li class="hat_li_image">
                {% if profile.image %}
                    <img class="image" src="{{ profile.image.url }}" alt="user_image" width="28" height="28"
                         style="border-radius: 50%; border: 2px solid #e6e6e6;" title="{{ user.username }}">
                {% elif backends.associated %}
                    {% for ass in backends.associated %}
                      {% if ass.provider == 'google-oauth2' %}
                        <div class="social_image">
                            <img src="{{ass.extra_data.picture}}" alt="user_image" width="28" height="28"
                                 style="border-radius: 50%; border: 2px solid #e6e6e6;" title="{{ user.username }}">
                        </div>
                      {% elif ass.provider == 'facebook' %}
                        <div class="social_image">
                            <img src="{{ass.extra_data.picture.data.url}}" alt="user_image" width="28" height="28"
                                 style="border-radius: 50%; border: 2px solid #e6e6e6;" title="{{ user.username }}">
                        </div>
                      {% else %}
                          <img class="image_default" src="{% static 'image/anonymous.jpg' %}" alt="user_image" width="28"
                               height="28" style="border-radius: 50%" title="{{ user.username }}">
                      {% endif %}
                    {% endfor %}
                {% else %}
                    <img class="image_default" src="{% static 'image/anonymous.jpg' %}" alt="user_image" width="28"
                         height="28" style="border-radius: 50%" title="{{ user.username }}">
                {% endif %}
            </li>
            <li class="hat_li_logout">
                <a href="/logout/" style="color:red;">
                    <label class="icon_out"></label>
                    Log out
                </a>
            </li>
        </ol>
        {% else %}
        <ol class="top">
            <li class="hat_label">
                <label>
                    <a href="{% url 'main' %}"><img src="{% static 'image/diary.png' %}" width="32" height="32" alt="label">
                    </a>
                </label>
            </li>
            <li class="hat_label_text">
                <label>
                    <a href="{% url 'main' %}" style="color: white;">
                        diary.by
                    </a>
                </label>
            </li>
        </ol>
        <ol class="login">
            <li class="hat_li_login">
                <a href="/login/">
                    <label class="icon_login"></label>
                    Log in
                </a>
            </li>
            <li class="hat_li_login">
                <a style="color: #00cf45;" href="{% url 'register' %}">
                    <label class="icon_register"></label>
                    Sign up
                </a>
            </li>
         </ol>
        {% endif %}
        </div>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>© 2021, diary.by
            <label class="contact">Contact: antonkomp@gmail.com
            </label>
            <label class="file">Use our offline diary:</label>
            <a href="{% static 'diary_one_file.zip' %}" download="">
                <button class="download_diary">
                    Download file
                </button>
            </a>
        </p>
    </footer>
</div>
</body>
