{% extends "base.html" %}
{% block title %} My diary {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <br><br>
    <p class="main_text">This is an online diary service, providing personal diaries.<br>
        Our focus is on security and privacy, and all diaries are private by default.</p>
    <p class="main_text">Writing a daily entry of your life is a good way to make sure your <br>memories and experiences stay alive.
        It lets you keep track and reflect on your<br> past and learn from your mistakes.
        It can also be tremendously therapeutic. <br>Not only to entry fun and adventurous moments, but also sad and scary times.<br>
        It can be helpful to be able to document changes in your life in an online journal.</p>

    <h4 class="text-center">Welcome {{ user.username }}</h4>
    {% for ass in backends.associated %}
          {% if ass.provider == 'facebook' %}
            <div class="col-md-6 text-center">
                <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-md-6 social-container my-2">                 <p> Signed in via:  {{ ass.provider }} </p>
                <p> Name:  {{ ass.extra_data.name }} </p>
                <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
            </div>
          {% endif %}
        {% endfor %}
{% endblock %}
