#controls {
  display: flex;
  max-width: 22em;
  padding-bottom: 8px;
}

#controls button {
  flex-grow: 1;
  border: none;
  background: #ed341d;
  margin: 0 4px 0 -5px;
  box-shadow: inset 0 -.15rem rgba(0,0,0,.2);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
}

#controls button:hover, button:focus {
  outline: none;
  background: #c72d1c;
  transform: scale(1.04);
}

#controls button::-moz-focus-inner {
  border: 0;
}

#controls button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

#controls button:disabled {
  pointer-events: none;
  background: lightgray;
}

#controls button:first-child {
  margin-left: 0;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#recordingsList {
  max-width: 20em;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #dadada;
}

#del_voice_record, #del_exist_voice {
  margin-bottom: 0.5em;
  margin-left: 3px;
  background: #d32525;
  color: #fafafa;
}

.voice_record {
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}