/* chats */


.send_message {
	color: green;
	}
.search {
  position: relative;
  width: 300px;
}
.search_inp, .search_but {
  outline: none;
  background: transparent;
}
.search_inp {
  width: 100%;
  height: 30px;
  padding-left: 11px;
  padding-right: 40px;
  border: 2px solid green;
  font-size: 14px;
}
.search_but {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 3px;
  right: -44px;
  cursor: pointer;
}
.search_but:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: green;
}
.search_inp:focus {
  border-color: #7a66b0;
}
.layer1 {
  float: left;
  width: 100%;
}
.layer2 {
  float: left;
  width: 1000px;
}
hr {
  clear: left;
}
.chat-window {
  background: white;
  width: 1000px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.message {
  background: lightgray;
  border-radius: 10px;
  padding: 1px 10px;
  margin-bottom: 10px;
}
.usr-name {
  font-weight: bold;
  margin-top: 5px;
}
.chat-input {
  width: 90%;
}
.chat_lists {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  overflow-y: scroll;
}
.chat_lists ul {
  margin: 0;
  padding: 0;
}
.lists {
  margin-top: 20px;
}
.chat_lists ul li .user_info {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.chat_lists ul li:hover {
  border-radius: 15px;
  transition: 0.5s;
  background: #67b168;
}
.chat_lists ul li .user_info .user_avatar {
  position: relative;
  margin-right: 10px;
}
.chat_lists ul li .user_avatar .user_status {
  position: absolute;
  bottom: 0;
  right: 4px;
}
.online_st {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: silver;
  border: 2px solid #1a1a1a;
}
.chat_lists ul li .user_info .user_avatar img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #1a1a1a;
  object-fit: cover;
}
.chat_lists .mess {
  width: 100%;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.chat_lists .mess .user_fullname {
  font-size: 20px;
  font-weight: bold;
  color: Green;

}
.chat_lists .mess .u_message {
  vertical-align: center;
  color: green;
}
.chat_lists .action {
  position: relative;
  width: 150px;
  color: green;
}
.chat_lists .mess .user_name {
  font-size: 18px;
  color: #93a1a1;
}