/* edit */

h3 {
	color: red;
}
.profile {
	color: green;
	}
input {
        cursor: pointer;
        color: black;
	background: #eceff3;
	border: 1px solid transparent;
        padding: .275rem .55rem;
        border-radius: .25rem;
        }
textarea {
	cursor: pointer;
        color: black;
	background: #eceff3;
	border: 1px solid transparent;
        padding: .275rem .55rem;
        border-radius: .25rem;
	width: 430px;
	height: 200px;
	resize: none;
	font-family: sans-serif;
	font-size: 14px;
}
.edit_save {
	cursor: pointer;
        background: #1a73e8;
        color: white;
	border: 1px solid transparent;
        padding: .275rem .55rem;
        border-radius: .55rem;
}
input:hover {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
        }
.edit_save:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        transform: scale(1.06);
        }

span {
	font-size: 13px;
	color: #56595A;
	}