/* login */

h3 {
	color: red;
	}
input {
        cursor: pointer;
        color: black;
        background: #eceff3;
        border: 1px solid;
        padding: .275rem .55rem;
        border-radius: .25rem;
        }

.log_buttons {
	cursor: pointer;
        background: #1a73e8;
        color: white;
	border: 1px solid transparent;
        padding: .275rem .55rem;
        border-radius: .55rem;
}
input:hover {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
        }
.log_buttons:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        transform: scale(1.06);
        }
.auth_google::before {
    content: "\f0d4";
    font-family: FontAwesome;
    margin-left: 10px;
}
.auth_facebook::before {
    content: "\f082";
    font-family: FontAwesome;
    margin-left: 10px;
}
.auth_linkidin::before {
    content: "\f08c";
    font-family: FontAwesome;
    margin-left: 10px;
}