{% extends "base.html" %}
{% block title %} My entries {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/records/all_records.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="search_entries">
    <form action={% url 'all_records' %} method="GET">
        <h3>My entries ({{ quantity_records }})</h3>
        <div class="search">
            <input class="search_inp" name="s" placeholder="Search" type="text">
            <button class="search_but" type="submit"></button>
        </div>
        {% if keyword_search != '' %}
            <p>
                Result of matches by: '{{ keyword_search|truncatechars:40 }}'
            </p>
        {% else %}
            <br>
        {% endif %}
    </form>
    </div>
        <a class="add_record" href="{% url 'add_record' %}"> Add entry </a>
    <!-- new table -->
        <div class="content_entries">
        <div class="tableBlock">
            <div style="display: flex; box-sizing: border-box;">
                <div class="head_col">Date</div>
                <div class="head_col">Heading</div>
                <div class="head_col head_right">Action</div>

            </div>
            <hr class="hr_head">
        {% for record in records %}
            <div class="tableBlock__row">
                <div class="entr_col">
                    <a href="{% url 'detail_record' record.id %}"><label class="fa fa-calendar-check-o"></label>
                        {{ record.date }}
                    </a>
                </div>
                <div class="entr_col">
                    <a href="{% url 'detail_record' record.id %}"><label class="fa fa-navicon"></label>
                        {{ record.heading|truncatechars:40 }}
                    </a>
                </div>
                <div class="right_side entr_col" >
                    <a href="{% url 'detail_record' record.id %}">
                        <button class="btn"><i class="fa fa-eye"></i></button>
                    </a>
                    <a href="{% url 'edit_record' record.id %}">
                        <button class="btn"><i class="fa fa-edit"></i></button>
                    </a>
                    <form class="peren" action={% url "delete_record" record.id %} method="POST">
                        {% csrf_token %}
                        <button class="btn"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>

    <!-- pagination -->
    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination">
                {% if records.has_previous %}
                    <li class="arrow"><a href="/page/{{ records.previous_page_number }}/">&laquo;</a></li>
                {% elif not keyword_search %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in records.paginator.page_range %}
                    {% if page == records.number %}
                        <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if records.has_next %}
                    <li class="arrow"><a href="/page/{{ records.next_page_number }}/">&raquo;</a></li>
                {% elif not keyword_search %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
