{% extends "base.html" %}
{% block title %} My entries {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/records/all_records.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <form action={% url 'all_records' %} method="GET">
        <h3>My entries</h3>
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Heading</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td><a href="{% url 'detail_record' record.id %}">{{ record.date }}</a></td>
                    <td><a href="{% url 'detail_record' record.id %}">{{ record.heading }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </form>
    <hr>
    <a class="add_record" href="{% url 'add_record' %}"> Add entry </a><br><br><br>
{% endblock %}
