{% extends "base.html" %}
{% block title %} Detail entry {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/records/detail_record.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <h3 style="color:red;">Details entry</h3>
    <p>Date: {{ record.date }}</p>
    <p>Heading: {{ record.heading }}</p>
    <p>Text: {{ record.text }}</p>

    {% if record.image %}
        <p>Image: <a class="image_url" href="{% url 'open_image' record.id %}" target="_blank"> {{ record.image }} </a></p>
        <img class="image" src="{{ record.image.url }}" alt="connect" style="max-height:300px">
    {% endif %}

    <form action={% url "edit_record" record.id %} method="GET">
        <input class="edit" type="submit" value="Edit"/>
    </form>
    <br>
    <form action={% url "send_record" record.id %} method="POST">
        {% csrf_token %}
        <input class="send" type="submit" value="Send to email"/>
    </form>
    <br>
    <form action={% url "delete_record" record.id %} method="POST">
        {% csrf_token %}
        <input class="delete" type="submit" value="Delete"/>
    </form>
    <hr>
    <a class="my_entries" href="{% url 'all_records' %}"> My entries </a><br><br><br>
{% endblock %}