{% extends "base.html" %}
{% block title %} Detail entry {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/entries/detail_entry.css' %}" />
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% if entry.check_edit %}
        <h3 style="color:red;">Details entry (edited)</h3>
    {% else %}
        <h3 style="color:red;">Details entry</h3>
    {% endif %}
    <p>Date: {{ entry.date }}</p>
    <p id="header_entry">Header: {{ entry.header }}</p>
    {% if entry.text %}
        <p id="text_entry">Text: {{ entry.text }}</p>
    {% endif %}
    {% if entry.image %}
        <a class="image_url" href="{% url 'open_image' entry.id %}" target="_blank">
            <img class="image" src="{{ entry.image.url }}" alt="connect" style="max-height:300px"> </a><br><br>
    {% endif %}
    {% if entry.voice_record %}
        <div class="voice_record">
            <audio
                controls
                src="{{ entry.voice_record.url }}">
                    Your browser does not support the
                    <code>audio</code> element.
            </audio>
        </div><br>
    {% endif %}

    <form action={% url "edit_entry" entry.id %} method="GET">
        <input class="edit" type="submit" value="Edit"/>
    </form>
    <br>
    <form action={% url "send_entry" entry.id %} method="POST">
        {% csrf_token %}
        <input class="send" type="submit" value="Send to email"/>
    </form>
    <br>
    <form action={% url "delete_entry" entry.id %} method="POST">
        {% csrf_token %}
        <input class="delete" type="submit" value="Delete"/>
    </form>
    <hr>
    <a class="my_entries" href="{% url 'all_entries' %}"> My entries </a><br><br><br>
{% endblock %}
